/* 기본값 */
:root{
	
	--swatch-var-6419:#211F1F;
	
	--swatch-var-4246:rgba(255,255,255,1.0);
	
	--swatch-var-4635:rgba(180,19,37,1.00);
	
	--swatch-var-7343:#000000;
	
}

.bgc-6419{
	background-color:var(--swatch-var-6419);
}
.blockquote{
	padding:0 20px;
	border-left:2px solid;
}
.blockquote.text-end{
	border-left:0;
	border-right:2px solid;
}

.d-bloc {
    color: rgba(255, 255, 255, .7);
}

/* 카드뉴스 */
  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Scrolling ticker styles */
  .ticker-container {
    width: 300px;
    height: 30px;
    padding: 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(0, 0, 0);
  }

  .ticker-wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 30px;
  }

  .dropdown-item {
    display: block;
    width: 300px;
  }

  .input-group-text {
    background-color: transparent !important;
  }

 /* 쇼츠 무빙  */

  .carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 700px;
    overflow: hidden;
    display: flex;
  }

  .carousel>* {
    flex: 0 0 100%;
  }

  /* 그룹 안의 카드들을 한 줄로 배치 */
  .group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 70s linear infinite;
  }

  /* 스크롤 애니메이션 */
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  /* hover 시 애니메이션 일시정지 */
  .carousel:hover .group {
    animation-play-state: paused;
  }


  .table>thead>tr>th,
  table>thead>tr>th,
  .table>thead>tr>td,
  table>thead>tr>td,
  .table>tbody>tr>th,
  table>tbody>tr>th,
  .table>tbody>tr>td,
  table>tbody>tr>td,
  .table>tfoot>tr>th,
  table>tfoot>tr>th,
  .table>tfoot>tr>td,
  table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  tr.odd {
    background-color: #f7f7f7;
  }

  /* 모바일 화면에서 accordion 너비를 100%로 설정 */
  .accordion-credits {
    width: 60%;
  }

  @media (max-width: 768px) {
    .accordion-credits {
      width: 100%;
    }
  }

.w-90 {
width: 90%;
}
@media (min-width: 768px) {
.w-md-70 {
  width: 65%;
}
}

.carousel-control-next-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dc3545'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dc3545'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}


.custom-buttons {
  flex-wrap: wrap; /* 줄바꿈 허용 */
  gap: 0.5rem;      /* 버튼 사이 간격 */
  justify-content: center; /* 가운데 정렬 */
}

.custom-buttons button {
  flex: 1 0 auto;        /* 버튼 크기 자동 조정 */
  white-space: nowrap;  /* 버튼 텍스트 줄바꿈 방지 */
}

.word-wrap-break {
  word-break: normal;
}
